import os
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ db_name }}',
        'HOST': 'localhost',
        'USER': '{{ db_user }}',
        'PASSWORD': '{{ db_password }}'
    }
}

BASE_DIR = os.path.dirname(os.path.dirname(__file__))
STATIC_ROOT = os.path.join(BASE_DIR, 'static')
STATIC_URL = '/static/'

RAVEN_CONFIG = {
    'dsn': 'https://8c94deef347f4c699c57d82fe930e019:044d0951aacc4df18388915ca3c5b25e@app.getsentry.com/32048',
}

DEBUG = False
ALLOWED_HOSTS = ['{{ nginx_server_name }}']